* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
}

.formcontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    max-width: 400px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 7px 4px rgb(0,0,0, 0.3);
}

.formcontainer h1 {
    margin-bottom: 30px;
    color: #BF5E5B;
    
}


.flexleft {
    display: flex;
    flex: 1;
    background-color: #BF5E5B;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0 16px 16px 0;
}

.flexleft img {
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.flexright {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background: url('./assets/back-churras.jpg');
}

input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    padding: 10px;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #BF5E5B;
    font-size: 16px;
}

#resultado {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: flex-start;
}

#resultado p {
    display: flex;
    align-items: center;
    justify-content: center;
}

#resultado p img {
    height: 70px;
    max-height: 70px;
    width: 70px;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 12px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: #BF5E5B;
}

@media (max-width: 380px) {
    
    .flexleft {
        display: none;
    }
    
}